@charset "UTF-8";


$fix-mqs: 1024px;
$old-ie: true;

@import "var";
@import "mixin";

// @import "mq";

.case-button-wrapper {
  display: none;
}
#left-logic {
  height: 47px;
  width: 226px;
}

// IE7
*:first-child+html {
  .machine {
    display: none;
  }
  .button-wrapper {
    position: static;
  }
  .button-sub {
    position: static;
    display: block;
    text-align: center;
  }
}