$c-grey: #525252 grey;
$c-grey-dark: #1f1f1f;
$c-orange: #d48a6d;
$c-green: 56d67e;
$c-white: #ffffff;

		// e9e6e5 grey line separator
		// e9c4b6 light orange
		// fdf9f7 even lighter orange (is orange with 10% opacity)

body {
	background: $c-white;
}

.screen {
	// background: #000;
}