footer
  a.twitter(href='https://twitter.com/fullfrontalconf')
    span.at @
    | fullfrontalconf

  p.previously
    each year in [2013, 2012, 2011, 2010, 2009]
      a(href='http://' + year + '.full-frontal.org')=year
      = "\n"

  p.blurb.
    Full Frontal is run by Left Logic, a small team of developers based in Brighton (UK), specialising in Node based applications and bleeding edge front end technology.

  a#left-logic(href='http://leftlogic.com') Left Logic