hr.main-hr
footer.footer
  a.twitter.icon-social-twitter(href='https://twitter.com/fullfrontalconf')
    span.at @
    | fullfrontalconf

  ul.previously
    each year in [2013, 2012, 2011, 2010, 2009]
      li
        a(href='http://' + year + '.full-frontal.org')=year

  p.blurb.
    Full Frontal is run by Left Logic, a small team of developers based in Brighton (UK), specialising in Node based applications and bleeding edge front end technology.

  div#left-logic(href='http://leftlogic.com')
    object(data='/images/left-logic.svg', type='image/svg+xml')
      a.left-logic(href='http://leftlogic.com') Left Logic