div
  a(href='#') This is a link

h2.section-title.icon-microphone Schedule

h3.session-title ES6 Uncensored

h3.schedule-title Opening Remarks

ul.session-list
  li PhoneGap APIs
  li Topcoat
  li The Single Page Architecture

div.session-content.
  The latest JavaScript standard is just around the corner and language enthusiasts are already salivating over all the new toys coming their way. But, be warned, there are best practice zealots waiting in the wings, ready to re-label the fun parts as The Bad Parts and ruin the party. This time let's get a head start on them.

div.schedule-title.tbc TBC

hr.main-hr