section(class='session-style-' + config.mode, role='region', aria-labelledby='sessions')
  h2#sessions.section-title.icon-microphone(role='heading', aria-level='2') Schedule
  ol
    each session in public._data.sessions.sessions
      li#slug
        div
          if session.break
            header.break
              div Start &mdash; End
              h3.schedule-title(role='heading', aria-level='3')= session.title
          else
            header
              div Start &mdash; End
              div
                h3.session-title(role='heading', aria-level='3')= session.title
                if session.speaker.name
                  div
                    a(href='#')= session.speaker.name
            div
              div
                div.session-content
                  if session.description
                    :markdown= session.description
                  if session.bio
                    div
                      :markdown= session.bio
                if session.speaker.photo
                  div(alt=session.speaker.alt?session.speaker.alt:null)
                    img(src='/images/speakers/' + session.speaker.photo)
